# How to generate keys:
# SECRET_KEY: run `python -c "import secrets; print(secrets.token_hex(32))"`
# ENCRYPTION_KEY: run `python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"`

# SECRET_KEY=your_secret_key_here
# OWNER_EMAIL=admin@example.com
# OWNER_PASSWORD=your_secure_password_here
# ENCRYPTION_KEY=your_fernet_encryption_key_here
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/dbname
# MONGODB_DB_NAME=your_db_name_here
